.card {
    position: relative;
    display: grid;
    gap: 12px;
    // width: 262px;

    &:hover {
        .card__btn {
            display: block;
            transform: translateY(0);
            opacity: 1;
            pointer-events: all;
        }
        .card__fav {
            display: block;
            transform: translateY(0);
            opacity: 1;
            pointer-events: all;
        }
    }

    &__picture {
        position: relative;
        background-color: #f3f3f3;
        text-align: center;
    }
    &__new {
        position: absolute;
        top: 16px;
        left: 16px;
        padding: 4px 14px;
        background-color: #fff;
        border-radius: 4px;

        color: #121212;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
    }
    &__fav {
        position: absolute;
        top: 16px;
        right: 16px;

        transform: translateY(-50%);
        transition: all 0.2s ease-in;
        opacity: 0;
        pointer-events: none;

        z-index: 9; 
    }
    &__btn {
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 16px;
        
        transform: translateY(50%);
        transition: all 0.2s ease-in;
        opacity: 0;
        pointer-events: none;

        z-index: 9; 
        @include mobile {
            display: none;
        }
    }
    &__desc {
        display: grid;
        gap: 4px;
    }
    &__rating {
        display: flex;
        gap: 2px;
        align-items: center;
    }
    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.625;
        color:  #141714;
    }
    &__title--elipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
    }
    &__price {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.57;
        color: #121212;
    }
    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
